.content {
  padding-bottom: 60px;
}
.back {
  background-color: var(--light);
  padding: 0.5rem 1.1rem;
  display: flex;
  justify-content: flex-end;
}
.back a {
  font-size: 1.25rem;
}
/* Start of Course Info */
.course-info {
  background-color: var(--light);
  margin-bottom: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.course-info .course-desc {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}
.course-info .terms {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75rem;
}
.course-info .terms .term-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 2;
}
.course-info .terms .term-item .term-icon {
  font-size: 1.1rem;
  color: var(--placeholder);
  width: 25px;
}
.course-info .terms .term-item .term-label {
  font-size: 1rem;
  font-weight: 700;
  color: var(--main-color);
}
.course-info .course-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  position: -webkit-sticky;
}
.course-info .course-options.sticky-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 90;
  background-color: var(--light);
  box-shadow: var(--shadow-lg);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.course-info .course-options .price {
  color: var(--dark);
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}
.course-info .course-options .insert-code,
.course-info .course-options .buy {
  padding: 0.25rem 0.75rem;
  min-width: 100px;
}
/* End of Course Info */

/* Start of Course Content */
.course-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--light);
}
.course-content .content-desc {
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 0.75rem;
}
.course-content .content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.course-content .course-videos {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.course-content .course-videos .course-video {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.course-content .course-videos .course-video .course-video-number {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  background-color: var(--light-grey);
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  flex-shrink: 0;
  align-self: center;
}
.course-content .course-videos .course-video .course-video-info {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.course-content .course-videos .course-video .course-video-info .icon {
  display: flex;
  padding: 0.25rem;
  border-radius: var(--radius);
  color: var(--main-color);
}
.course-content .course-videos .course-video .course-video-play {
  flex-shrink: 0;
  align-self: center;
  font-size: 1.5rem;
  color: var(--main-color);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* End of Course Content */
