.content {
  padding-top: 1.5rem;
  padding-bottom: 60px;
}
/* Start of Home Banner */
.home-banner .banner-item {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: calc(var(--radius) * 2);
  overflow: hidden;
  background-color: var(--main-color);
}
.home-banner .banner-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* End of Home Banner */

/* Start of Best Terms */
.best-terms {
  padding: 0.25rem;
}
.terms-wrapper .term-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: calc(var(--radius) * 2);
  background-color: var(--light);
  box-shadow: var(--shadow-sm);
}
.terms-wrapper .term-item .image {
  height: 120px;
  overflow: hidden;
}
.terms-wrapper .term-item .image img {
  width: auto;
  height: 100%;
  object-fit: cover;
}
.terms-wrapper .term-item .term-item-content {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  background-color: var(--light);
}
.terms-wrapper .term-item .term-item-content .title {
  margin-top: 0;
  margin-bottom: 0.25rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--main-color);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.terms-wrapper .term-item .term-item-content .courses {
  margin-top: 0;
  margin-bottom: 0;
  background-color: var(--alt-color);
  color: var(--main-color);
  font-size: 1rem;
  font-weight: 700;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
/* End of Best Terms */

/* Start of Best Courses in Term */
.best-courses {
  padding: 0.25rem;
}
.courses-wrapper .course-item {
  display: flex;
  flex-direction: column;
}
.courses-wrapper .course-item .image {
  display: flex;
  height: 100px;
  overflow: hidden;
  box-shadow: var(--shadow-sm);
  border-radius: var(--radius);
  margin-bottom: 0.5rem;
}
.courses-wrapper .course-item .image img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.courses-wrapper .course-item .course-item-content {
  padding: 0.5rem;
  background-color: var(--light);
}
.courses-wrapper .course-item .course-item-content .title {
  margin-top: 0;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--main-color);
  min-height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.courses-wrapper .course-item .course-item-content .teacher {
  margin-top: 0;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  color: var(--dark);
}
.courses-wrapper .course-item .course-item-content .price {
  margin-top: 0;
  margin-bottom: 0;
  background-color: var(--alt-color);
  color: var(--main-color);
  font-weight: 700;
  font-size: 1.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
/* End of Best Courses in Term */

/* Remove Later */
.navbar {
  padding: 0.5rem 1rem;
}
