.content {
  padding-bottom: 60px;
}
/* Start of Term Item */
.term-item {
  width: 100%;
  display: flex;
  overflow: hidden;
  border-radius: calc(var(--radius) * 2);
  background-color: var(--light);
  box-shadow: var(--shadow-md);
}
.term-item .image {
  flex-shrink: 0;
  width: 35%;
  min-height: 100px;
  overflow: hidden;
  display: flex;
}
.term-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.term-item .term-item-content {
  flex-grow: 1;
  padding: 0.5rem;
  background-color: var(--light);
}
.term-item .term-item-content .title {
  margin-top: 0;
  margin-bottom: 0.25rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--main-color);
}
.term-item .term-item-content .courses {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
}
.term-item .btn {
  box-shadow: none;
}
/* End of Term Item */